@font-face {
  font-family: 'LAB디지털';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {box-sizing: border-box;}

html, body {margin: 0;}

.container {
  width: 320px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
}

h1 {
  font-family: 'LAB디지털';
}