@font-face {
  font-family: 'LAB디지털';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {box-sizing: border-box;}

html, body {margin: 0;}

.container {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'LAB디지털';
  margin: 20px auto;
  font-size: 50px;
}

button {
  margin: 0 10px;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: red;
  color: white;
}

#bt_start, #bt_stop, #bt_reset {
  padding: 15px;
}